[submodule "micropython/modules/ulab"]
	path = micropython/modules/ulab
	url = https://github.com/v923z/micropython-ulab.git
[submodule "drivers/bme68x-sensor-api/src"]
	path = drivers/bme68x/src
	url = https://github.com/BoschSensortec/BME68x-Sensor-API
[submodule "drivers/bme280/src"]
	path = drivers/bme280/src
	url = https://github.com/BoschSensortec/BME280_driver
[submodule "drivers/bmp280/src"]
	path = drivers/bmp280/src
	url = https://github.com/pimoroni/BMP280_driver
	branch = patch-intf-ptr
